<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	
	<appSettings>
        <add key="Cols" value="10"/>
        <add key="Rows" value="10"/>
        <add key="NumberOfSnakes" value="5"/>
		<add key="MaxSnakesNumber" value="12"/>
        <add key="NumberOfLadders" value="5"/>
        <add key="MaxLaddersNumber" value="12"/>
		<add key="Players" value="2"/>
	</appSettings>
	
</configuration>